@import url('reset.css');

span, * {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.btn {
    padding: 0;
    border: none;
    background: none;
}

.btn:focus {
    outline: none;
}

h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 36px;
}

p {
    line-height: 32px;
    color: rgba(0, 0, 0, .8);
    margin-bottom: 32px;
}

/* Icons */

i {
    font-size: 24px !important;
    opacity: .7;
}

i:hover {
    opacity: 1;
}

button > i {
    position: relative;
    top: 2px;
}

/* Desktops */

@media only screen and (min-width: 1024px) {

    body {
        padding: 48px 32px;
    }

    #wrap {
        margin: 0 auto;
        max-width: 1262px;
        min-width: 1024px;
    }

    #wrap::after {
        content: '';
        clear: both;
    }

    #sidebar, main {
        float: left;
        box-sizing: border-box;
        padding: 0 32px;
    }

    #sidebar {
        width: 33.3%;
    }

    main {
        width: 66.6%;
    }

    header {
        height: 60px;
        padding: 0 32px;
        margin-bottom: 28px;
        border-bottom: 1px solid rgba(0, 0, 0, .2);

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header div {
        display: flex;
        align-items: center;
    }

    #action-btns button:not(:last-child) {
        margin-right: 56px;
    }

    header input {
        font-size: 18px;
        color: rgba(0, 0, 0, .35);
        min-width: 100px; 
        max-width: 170px;
        border: none;

    }

     header input:focus {
         outline: none;
         color: black;
     }

     header span {
         color: rgba(0, 0, 0, .5);
     }

    #list-notes li {
        padding: 20px 32px;
        margin-bottom: 32px;
    }
    
    .note-title {
        color: rgba(0, 0, 0, .75);
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .note-description {
        color: rgba(0, 0, 0, .35);
        display: block;
    }

    #list-notes li:hover {
        outline: 1px solid black;
        cursor: pointer;
    }

    #list-notes li:hover .note-description {
        color: rgba(0, 0, 0, .5);
    }

    #list-notes li:hover .note-title {
        color: black;
    }

    li.active {
        background: #ECF4FF;
        outline: 1px solid #0080FF;
        box-shadow: -6px 6px 0 0 rgba(0, 128, 255, .25);
    }

    li.active .note-title {
        color: #0080FF;
    }

    li.active .note-description {
        color: #84AFD1;
    }

}

/* Tablets */

@media only screen and (min-width: 450px) and (max-width: 1024px) {

    body {
        padding: 0 36px 36px 36px;
    }

}

/* Phones */

@media only screen and (max-width: 450px) {

}

